<h1>User</h1>

<hr />

<h3>Local.</h3>
<p>ID: {{user._id}}</p>
<p>Email: {{user.local.email}}</p>
<p>password: {{user.local.password}}</p>

<hr />

<h3>Facebook.</h3>
<p>id: {{user.facebook.id}}</p>
<p>token: {{user.facebook.token}}</p>
<p>email: {{user.facebook.email}}</p>
<p>name: {{user.facebook.name}}</p>

<hr />

<h3>Twitter.</h3>
<p>id: {{user.twitter.id}}</p>
<p>token: {{user.twitter.token}}</p>
<p>username: {{user.twitter.username}}</p>
<p>displayName: {{user.twitter.displayName}}</p>

<hr />

<h3>Google.</h3>
<p>id: {{user.google.id}}</p>
<p>token: {{user.google.token}}</p>
<p>email: {{user.google.email}}</p>
<p>name: {{user.google.name}}</p>
